body {
    background-color: rgb(64, 64, 64);
    /*background: linear-gradient(to bottom right, blue, pink);*/
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    color: white;
}
h2 {
    color: white;
}
p {
    color: white;
}


.introduction {
    text-align: center;
}

.gifts {
    text-align: center;
}

.gift {
    background: rgb(137, 137, 137);
    border: 3px solid white;
    width: 200px;
    text-align: center;
    padding-top: 10px;
    margin: 20px 30px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}
.gift img {
    
    border-radius: 10px;
    height: 170px;
}
.gift:hover {
    background: rgb(188, 188, 188);
    transition: 0.5s;
    padding: 10px;
}
.gift:not(hover) {
    background: rgb(137, 137, 137);
    transition: 0.5s;
    padding: auto;
}
.gift a {
    text-decoration: none;
}
.img4{
    width: 200px;
} 
.gift5 {
    background: rgb(137, 137, 137);
    border: 3px solid white;
    text-align: center;
    padding-top: 10px;
    margin: 20px 30px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}
.gift5 img {
    
    border-radius: 10px;
    height: 170px;
}
.gift5:hover {
    background: rgb(188, 188, 188);
    transition: 0.5s;
    padding: 10px;
}
.gift5:not(hover) {
    background: rgb(137, 137, 137);
    transition: 0.5s;
    padding: auto;
}
.gift5 a {
    text-decoration: none;
}

.bottom {
    margin-left: 100px;
}
.bottom a{
    text-decoration: none;
    color: white;
}
.bottom a:hover {
    border: 2px solid white;
    background: rgb(172, 172, 172);
    border-radius: 5px;
    transition: 0.3s;
    padding: 2px;
    color: rgb(44, 55, 255);
}
.bottom a:not(hover) {
    background: rgb(64, 64, 64);
    transition: 0.3s;
}



.gift1 {
    background: rgb(137, 137, 137);
    border: 3px solid red;
    width: 200px;
    text-align: center;
    padding-top: 10px;
    margin: 20px 30px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}
.gift1 img {
    
    border-radius: 10px;
    height: 170px;
}
.gift1:hover {
    background: rgb(188, 188, 188);
    transition: 0.5s;
    padding: 10px;
}
.gift1:not(hover) {
    background: rgb(137, 137, 137);
    transition: 0.5s;
    padding: auto;
}
.gift1 a {
    text-decoration: none;
}
.gift2 {
    background: rgb(137, 137, 137);
    border: 3px solid red;
    width: auto;
    text-align: center;
    padding-top: 10px;
    padding: 5px 5px;
    margin: 20px 30px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}
.gift2 img {
    
    border-radius: 10px;
    height: 170px;
}
.gift2:hover {
    background: rgb(188, 188, 188);
    transition: 0.5s;
    padding: 10px;
}
.gift2:not(hover) {
    background: rgb(137, 137, 137);
    transition: 0.5s;
    padding: auto;
}
.gift2 a {
    text-decoration: none;
}